@import './video-section';
@import './comment-section';
@import './sidebar';

@media (min-width: 1024px) {
    main {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 40% 60%;
        grid-template-areas: 
            "video sidebar "
            "comments sidebar";

        .video-section {
            grid-area: video;
        }

        aside {
            padding-top: 80px;
            grid-area: sidebar;
            button {
                display: none;
            }
        }

        .comment-section {
            grid-area: comments;
        }
    }
}