main {
    .video-section {
        padding: 5rem 1rem 2rem 1rem;


        /* Code snippets copied from CSS Tricks */
        /* https://css-tricks.com/fluid-width-video/ */
        
        .videoWrapper {
            position: relative;
            padding-bottom: 56.25%; /* 16:9 */
            height: 0;

            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        .video-title {
            margin: 10px 0;

            span {
                cursor: pointer;
                color: #3EA6FF;
                font-size: 12px;
            }

            h1 {
                color: white;
                font-weight: normal;
                font-size: 18px;
            }
        }

        .video-stats {
            border-bottom: 1px solid gray;
            color: gray;
            padding: 0 10px;

            .views-and-date {
                display: none;
            }

            .actions {
                width: 12rem;
                display: flex;
                justify-content: space-between;
                width: 100%;

                .like-dislike {
                    padding-bottom: 10px;
                    border-bottom: 2px solid gray;
                    width: 9rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    span {
                        cursor: pointer;
                    }
                }

                span,
                i {
                    cursor: pointer;
                }
            }
        }

        .info-box {
            margin-top: 15px;

            .creator-info {
                display: flex;

                .user-info {
                    width: 100%;
                    display: flex;

                    .user-image-container {
                        width: 4rem;
                        height: 50px;
                        cursor: pointer;

                        img {
                            width: 50px;
                            height: 100%;
                            border-radius: 100%;
                        }
                    }

                    .username-subscribers {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        h1 {
                            color: white;
                            font-size: 15px;
                            cursor: pointer;
                        }

                        p {
                            color: gray;
                            font-size: 12px;
                        }
                    }
                }
                button {
                    cursor: pointer;
                    color: white;
                    border: none;
                    padding: 12px;
                    background-color: #CC0000;
                    font-weight: bold;
                    border-radius: 2px;
                    align-self: center;
                }
            }
        }

        .description {
            line-height: 1.5;
            border-bottom: 1px solid gray;
            padding-top: 20px;
            padding-left: 60px;
            color: white;
            font-size: 14px;

            a {
                color: #3EA6FF;
            }

            .show {
                margin: 20px 0;
                font-weight: bold;
                cursor: pointer;
                color: gray;
                font-size: 12px;
            }
        }
    }
}


@media (min-width: 600px) {
    main {
        .video-section {
            .video-stats {
                display: flex;
                justify-content: space-between;
                .views-and-date {
                    display: block;
                    width: 40%;
                }

                .actions {
                    width: 60%;
                }
            }
        }
    }
}