* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #181818;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  padding: .5rem 1rem;
  background-color: #202020;
  position: fixed;
  z-index: 99;
  width: 100%;
}

nav i {
  color: white;
  cursor: pointer;
}

nav .left-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 8rem;
}

nav .left-col img {
  width: 6rem;
  height: 1.5rem;
  cursor: pointer;
}

nav .central-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 3.5rem;
}

nav .central-col form {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

nav .central-col .search-bar input[type="text"] {
  display: none;
}

nav .central-col .search-bar button {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: none;
  background: none;
}

nav .right-col {
  width: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .right-col .login-box {
  cursor: pointer;
  padding: 10px;
  color: #3EA6FF;
  border: 1px solid #3EA6FF;
  border-radius: 2px;
}

nav .right-col .login-box i {
  color: #3EA6FF;
  margin-right: 5px;
}

/* Media Queries */
@media (min-width: 700px) {
  nav .central-col {
    width: 40%;
  }
  nav .central-col form {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 90%;
  }
  nav .central-col .search-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 100%;
  }
  nav .central-col .search-bar input[type="text"] {
    display: block;
    background-color: #121212;
    font-family: 'Roboto', sans-serif;
    color: white;
    border: none;
    border: 1px solid #323232;
    width: 100%;
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: 2px 0 0 2px;
  }
  nav .central-col .search-bar input[type="text"]:focus {
    outline: none;
  }
  nav .central-col .search-bar button {
    background-color: #323232;
    width: 4rem;
    padding: 7px;
    border-radius: 0 2px 0 2px;
  }
}

main .video-section {
  padding: 5rem 1rem 2rem 1rem;
  /* Code snippets copied from CSS Tricks */
  /* https://css-tricks.com/fluid-width-video/ */
}

main .video-section .videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}

main .video-section .videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

main .video-section .video-title {
  margin: 10px 0;
}

main .video-section .video-title span {
  cursor: pointer;
  color: #3EA6FF;
  font-size: 12px;
}

main .video-section .video-title h1 {
  color: white;
  font-weight: normal;
  font-size: 18px;
}

main .video-section .video-stats {
  border-bottom: 1px solid gray;
  color: gray;
  padding: 0 10px;
}

main .video-section .video-stats .views-and-date {
  display: none;
}

main .video-section .video-stats .actions {
  width: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

main .video-section .video-stats .actions .like-dislike {
  padding-bottom: 10px;
  border-bottom: 2px solid gray;
  width: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .video-section .video-stats .actions .like-dislike span {
  cursor: pointer;
}

main .video-section .video-stats .actions span,
main .video-section .video-stats .actions i {
  cursor: pointer;
}

main .video-section .info-box {
  margin-top: 15px;
}

main .video-section .info-box .creator-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .video-section .info-box .creator-info .user-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .video-section .info-box .creator-info .user-info .user-image-container {
  width: 4rem;
  height: 50px;
  cursor: pointer;
}

main .video-section .info-box .creator-info .user-info .user-image-container img {
  width: 50px;
  height: 100%;
  border-radius: 100%;
}

main .video-section .info-box .creator-info .user-info .username-subscribers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .video-section .info-box .creator-info .user-info .username-subscribers h1 {
  color: white;
  font-size: 15px;
  cursor: pointer;
}

main .video-section .info-box .creator-info .user-info .username-subscribers p {
  color: gray;
  font-size: 12px;
}

main .video-section .info-box .creator-info button {
  cursor: pointer;
  color: white;
  border: none;
  padding: 12px;
  background-color: #CC0000;
  font-weight: bold;
  border-radius: 2px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main .video-section .description {
  line-height: 1.5;
  border-bottom: 1px solid gray;
  padding-top: 20px;
  padding-left: 60px;
  color: white;
  font-size: 14px;
}

main .video-section .description a {
  color: #3EA6FF;
}

main .video-section .description .show {
  margin: 20px 0;
  font-weight: bold;
  cursor: pointer;
  color: gray;
  font-size: 12px;
}

@media (min-width: 600px) {
  main .video-section .video-stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .video-section .video-stats .views-and-date {
    display: block;
    width: 40%;
  }
  main .video-section .video-stats .actions {
    width: 60%;
  }
}

main .comment-section {
  padding: 2rem 1rem;
  color: white;
}

main .comment-section .comment-section-header .sort {
  cursor: pointer;
  color: gray;
  margin-left: 50px;
}

main .comment-section .comment-section-header .sort i {
  margin-right: 5px;
}

main .comment-section .user-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0;
}

main .comment-section .user-comment .user-image img {
  border-radius: 50%;
}

main .comment-section .user-comment .user-input-container {
  width: 100%;
  padding-left: 20px;
}

main .comment-section .user-comment .user-input-container input {
  width: 100%;
  border: none;
  background: none;
  color: gray;
  border-bottom: 1px solid gray;
  padding-bottom: 3px;
}

main .comment-section .user-comment .user-input-container input:focus {
  outline: none;
}

main .comment-section .comments .comment {
  margin-bottom: 30px;
}

main .comment-section .comments .comment .comment-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .comment-section .comments .comment .comment-header img {
  border-radius: 100%;
  margin-right: 10px;
}

main .comment-section .comments .comment .comment-header .comment-info .head .username {
  font-weight: bold;
  font-size: 14px;
  margin-right: 10px;
}

main .comment-section .comments .comment .comment-header .comment-info .head .datetime {
  color: gray;
  font-size: 14px;
}

main .comment-section .comments .comment .comment-header .comment-info .comment-text {
  font-size: 14px;
  margin-top: 7px;
}

main .comment-section .comments .comment .comment-likes-dislikes {
  padding-left: 60px;
  padding-top: 10px;
}

main .comment-section .comments .comment .comment-likes-dislikes span {
  margin-right: 20px;
  cursor: pointer;
  font-size: 14px;
  color: gray;
}

main .comment-section .comments .comment .comment-likes-dislikes span i {
  margin-right: 10px;
}

main .comment-section .comments .comment .comment-likes-dislikes span:last-child {
  font-weight: bold;
}

main .comment-section .comments .comment .comment-replies {
  padding-top: 10px;
  padding-left: 60px;
  color: #3EA6FF;
  font-weight: bold;
  font-size: 14px;
}

main .comment-section .comments .comment .comment-replies span {
  cursor: pointer;
}

main .comment-section .comments .comment .comment-replies span i {
  margin-right: 10px;
}

main aside {
  padding: 0 1rem;
}

main aside a {
  text-decoration: none;
}

main aside button {
  cursor: pointer;
  border: none;
  background: none;
  color: #3EA6FF;
  border: 1px solid #3EA6FF;
  border-radius: 2px;
  padding: 10px 0;
  width: 100%;
  font-weight: bold;
}

main aside .related-video-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4px;
}

main aside .related-video-container .thumbnail-container {
  margin-right: 8px;
  cursor: pointer;
  position: relative;
}

main aside .related-video-container .thumbnail-container img {
  z-index: -1;
}

main aside .related-video-container .thumbnail-container .upper-part {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 70%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-right: 5px;
}

main aside .related-video-container .thumbnail-container .upper-part i {
  display: block;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px;
  border-radius: 2px;
}

main aside .related-video-container .thumbnail-container .bottom-part {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 5px;
  padding-bottom: 5px;
  position: absolute;
  bottom: 3px;
}

main aside .related-video-container .thumbnail-container .bottom-part span {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  color: white;
  font-size: 12px;
  padding: 2px 4px;
}

main aside .related-video-container .thumbnail-container:hover .upper-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main aside .related-video-container .thumbnail-container:hover .bottom-part {
  display: none;
}

main aside .related-video-container .video-info-container {
  cursor: pointer;
  color: gray;
}

main aside .related-video-container .video-info-container .title {
  color: white;
  font-weight: bold;
  margin-bottom: 4px;
}

main aside .related-video-container .video-info-container .author,
main aside .related-video-container .video-info-container .brief-desc {
  font-size: 12px;
}

main aside .related-video-container .video-info-container .author {
  margin-bottom: 4px;
}
/*# sourceMappingURL=style.css.map */